@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
body{text-align: center;}
.PC{
    display:block;
    width:100%;
    margin:0 auto;
}
.Mobile{
    display:block;
    width:1248px;
    margin:0 auto;
}
div>img{width:100%;}